body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bgr-img {
  background-image: url(bg.png);
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9999999;
}

.header {
  font-size: 63px;
  font-weight: 700;
  color: #452e76;
  text-align: center;
  margin: 100px 0px;
}


.person-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
