.person {
  position: relative;
  cursor: pointer;
  margin: 20px 30px 20px 30px;
  text-align: center;
  width: 210px;

  &__icon {
    pointer: arrow;
    border-radius: 100%;
    display: inline;
    width: 210px;
    top: 0px;
    left: 0px;
  }
  &__name {
    color: #452e76;
    font-size: 20px;
    top: 225px;
    left: 0px;
    width: 210px;
  }
  &__role {
    color: #48c3dc;
    font-size: 14px;
    top: 257px;
    left: 0px;
    width: 210px;
  }
  &__location {
    color: #808080;
    font-size: 14px;
    top: 277px;
    left: 0px;
    width: 210px;
    opacity: 1;

  }
  &__description {
    opacity: 0;
    transition-delay: 1s;
    color: #808080;
    font-size: 14px;
  }
}

.animable {
  position: absolute;
  transition-property: all;
  transition-duration: 1s;
}

.swiperMode
.person {
  cursor: auto;
  &__icon {
    left: 100px;
  }
  &__name {
    top: 45px;
    left: 518px;
  }
  &__role {
    top: 0;
    left: 518px;
  }
  &__location {
    display: none;
    opacity: 0;
  }
  &__description {
    display: block;
    display: block;
    top: 110px;
    left: 376px;
    min-width: 500px;
    opacity: 1;
  }
}
