.person {
  cursor: pointer;
  margin: 20px 30px 20px 30px;
  text-align: center;
  width: 210px;
  height: 300px;
  transition-property: all;
  transition-duration: 1s;
  position: relative;
  transform-style: preserve-3d;
  &__icon {
    cursor: arrow;
    border-radius: 100%;
    display: inline; 
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &__name {
    color: #452e76;
    font-size: 20px;
    margin: 10px 0px;
    white-space: nowrap;
    position: absolute;
    top: 225px;
    left: 0px;
    min-width: 210px;
  
  }
  &__role {
    color: #48c3dc;
    font-size: 14px;
    margin: 4px 0px;
    white-space: nowrap;
    min-width: 210px;
    position: absolute;
    top: 257px;
    left: 0px;
   
  }
  &__location {
    color: #808080;
    font-size: 14px;
    margin: 4px 0px;
    white-space: nowrap;
    min-width: 210px;
    position: absolute;
    top: 277px;
    left: 0px;
  }
  &__description {
    position: absolute;
    opacity: 0;
    color: #808080;
    font-size: 14px;
    height: 0px;
  }
}

.swiperMode.person {
  cursor: auto;
  margin: 30px;
  width: 800px;
  box-shadow: 10px 10px 20px #452e76;
  background-color: rgba(204, 72, 195, 0.1);
}

.swiperMode
.person {
  &__icon {
    top: 30px;
    left: 30px;
    transition-property: all;
    transition-duration: 1s;
  }
  &__name {
    top: 100px;
    left: 450px;
    transform: scale(2);
    transition-property: all;
    transition-duration: 1s;
  }
  &__role {
    top: 30px;
    left: 400px;
    color: black;
    transform: scale(1.8);
    transition-property: all;
    transition-duration: 1s;
    max-width: 275px;
    white-space: normal;
  }
  &__location {
    display: none;
    opacity: 0;
  }
  &__description {
    top: 181px;
    left: 230px;
    display: block;
    width: 550px;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 2s;
  }
}