
.swiper-slide
.person {
    margin: 20px 30px 20px 30px;
    text-align: center;
    width: 210px;
    .&__icon {
        border-radius: 100%;
        display: inline;
        width:210px;
    }
    .$__name {
        color: #452e76;
        font-size: 20px;
        margin: 10px 0px;
    }
    .$__role {
        color: #48c3dc;
        font-size: 14px;
        margin: 4px 0px;
    }
    .$__location {
        color: #808080;
        font-size: 14px;
        margin: 4px 0px;
    }
}
